#navbar{
  position: fixed;
  margin-top: 0;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-style: none;
  border-bottom: solid 1px lightgrey;
  height: 36px;

}


.navbar-li{
  list-style: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;

  }

  .nytimes-logo{
    height:25px;
  }
  .right-nav{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 10px;
    padding: 0 0 0 2px;
  }

.nav-button{
  background-color: rgb(86, 123, 149);
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  margin-left: 5px;
  padding: 8px;
  font-weight:bold;
}
.heading{
  position:relative;
  
top: 5rem;
  
  
  
}
.title-container{
  text-align: center;
  background-color: yellow;
  width: 100%;
}
.title-container-sub-container{
  width: 40%;
  background-color: steelblue;
}
.title{
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  background-color: violet;
  font-weight: 900;
  font-size: 30px;
  font-style: italic;
  width: 40%;
  float:left;
}

