

navbar{
  position: fixed;
  margin-top: 0;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-top-style: none;
  border-bottom: solid 1px lightgrey;
  height: 36px;
  left:0;
  top:0;
  z-index: 3;
}


.navbar-li{
  list-style: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  }

  .nytimes-logo{
    height:25px;
    cursor: pointer;
  }

  .right-nav{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 10px;
    padding: 0 0 0 2px;
  }

.nav-button{
  background-color: rgb(86, 123, 149);
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  margin: 5px 13px 3px 0;
  padding: 4px;
  font-weight:bold;
}
.heading{
  position:relative;
  top: 4rem;

}

.title-container{


  width: 35%;
  background-color: steelblue;
  margin: auto;
}

.title{
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-size: 2rem;
  line-height: 3rem;
  font-style: italic;
  max-width: 600px;
  float:left;
}

.telescop-1-img-container{

    width: 72%;
    margin: auto;
}

.telescop-1-img{
  margin-top: 50px;
  width: 100%;
}

.telescop-1-img-container > p{
  width: 78%;
  color: #666;
  margin-left: 0;
  float: left;
}
.author{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 62%;
  align-items: center;
  margin:auto;
}
.by{
width: 80%;
}

.by > p{
  text-decoration: underline;
}

.by > p:hover{
  text-decoration: none;
}

.author-row{
 width: 80%;
}

.inline-block{
  display: inline-block;
}

.share-items{
  float: right;
  font-size: 15px;
}

.share-items > i{
  margin: 5px;
  padding: 6px;
  background-color: lightgrey;
  border-radius: 50%;
  cursor: pointer;
  border: solid lightgrey 1px;
}

.share-items > i:hover{
  background-color: white;
}

.first-artcle,
.second-article,
.third-article,
.fourth-article,
.fifth-article,
.sixth-article,
.seventh-article{
  max-width: 600px;
  margin: auto;

  font-size: 20px;
  font-family:nyt-imperial,georgia,'times new roman',times,serif;

}
.blue-highlight{
  color: rgb(86, 123, 149);
  text-decoration:underline;
  font-size: x-large;
  font-weight: 500;
  cursor: pointer;
}
.Subscribe{
  width:45% ;
  margin:auto;
  cursor: pointer;
  height: auto;
  top:0;
}
.blue{
  font-size:15px;
  color: rgb(86, 123, 149);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  cursor: pointer;
  top:0;
  text-align: center;
}
.black{
  text-align: center;
}
aside{
  float:right;
  width:190px;
  text-decoration: none;
  display: block;
  margin-top: 10em;
  margin-right:3em ;
  justify-content: space-between;

}
.aside-heading{
  font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 14px;
    letter-spacing: 0.01em;
}
.aside-para{
  text-decoration-line:none;;
    font-family: nyt-cheltenham-small, georgia, "times new roman";
    font-weight: 600;
    font-size: 12px;
    width: 90%;
    color: rgb(51, 51, 51);
    padding-bottom: 15px;
    cursor: pointer;
    float: right;
    text-align: left;
    margin-left: 2em;
    margin-right: 1em;

}
.aside-para-image{
  margin-left:0;
  margin-right: 14px;
}
.aside-para img{
  width:70px;
  float:left;
}
.hr-1{
  width:12%;
}

.h2-heading{
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.h2-heading:hover{
  text-decoration: underline;
}

.infla-container{
  width: 70%;
  margin:auto;
}

.grid-container{
 display: grid;
 justify-content: space-between;
 border: solid 1px white;
 grid-template-columns: repeat(4, 2fr);
 grid-gap:0.4em;
}

.inflation-heading{
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 600;
  bottom: 0;
}

.infla-container > p{
  top:0;
  color: #666;
  margin-left: 0;
  float: left;
}
.grid-image{
  width: 200px;
  height: 150px;
}

.grid-paragraph{
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    font-style: normal;
}

iframe{
  width:600px;
  height:319px;
}

.iframe-caption{
color: #666;
font-size: 0.9375rem;
line-height: 1.25rem;
}

.article-image{
  background-color: lightcoral;
  width:100%;
}

figure img{
  width:100%;
  height: 100%;
  margin: 0;
}
.version{
  font-size:14px;
  color: #666;
  margin-left: 0;
  float: left;
}
.comments{
  margin:90px 0 0 0 ;
  align-items: center;
  text-align: center;
  background-color: chocolate;
}
.read{
  background-color: rgb(86, 123, 149);
    color: white;
    display: block;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    width: 40%;
    padding:10px;
    margin:10px 0 0 0;
    border-radius:3px;
    border: 1px ;
    float: left;
}
.share-comments{
float: right;
}

.space-astronomy-popular{
  width: 95%;
  margin-top: 12em;
  margin-left: 1.6em;
  margin-bottom: 55em;

}

.float-right{
  float: right;
}

.grid-container-space-astronomy{
 display: grid;
 justify-content: space-between;
 margin:1em 0 0 0 ;
 border: solid 1px white;
 grid-template-columns: repeat(3, 280px);

 grid-gap:0.1em;
}

.lineheight-1px{
  line-height: 1px;
}

.space-astronomy{
  width: 68%;
  float: left;
  display:grid;
}

.sa{
  width:100%;
}

.most-popular{
float: right;
width:22%;
margin-right: 4em;
margin-top: 0;
}

.popular-para{
  margin: 2rem 1rem 0 ;
}
.popular-para-links{
  color: rgb(18, 18, 18);
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.375rem;
    cursor: pointer;

}

.popular-para-hr{
color: rgb(226, 226, 226);
}
.left-hr{
  border-color: #000000;
  width:100%;
  float: left;
}
.right-hr{
  border-color: #000000;
  width:100%;
  float: right;
}
.sa-heading{
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  float: left;
  font-weight: 300;
  color: #000000;
  font-style: normal;
}

footer{
  width: 90%;
  margin: auto;
}

.below-grid-container{
  width:100%;
  display: grid;
  grid-template-columns: repeat(6, 180px);
  justify-content: space-between;
  border-bottom: solid 1px lightgrey;
}

.list-div{
  padding:0;
  text-align: left;
}

.list{
  margin: 0;
  padding: 0;
}


 ul > li{
   margin: 0;
   padding: 0;
   list-style: none;

}

 ul > li:hover{
   text-decoration: underline;
 }

 .subscribe-li{
   border-left: solid 1px lightgrey;
   
   padding-left: 1em;
 }
.last-footer{
  display:flex;
  padding-left:0 5em ;
}
.last-ul{
  text-align: center;
  justify-content: center;
}
.last-ul > li {
    display:inline-block;
color: #666;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 11px;
    line-height: 20px;
    padding: 0 10px;
}
.end-footer{
  display:flex;
text-align: center;

}
.end-footer-para{
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-size:100%;
  padding-left: 18em;
  text-align: center;

}
.expand{
  padding-left:16em;
}