#navbar{
  position: fixed;
  margin-top: 0;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-style: none;
  border-bottom: solid 1px lightgrey;
  height: 36px;
  background-color: white;
  z-index: 2;

}


.navbar-li{
  list-style: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;

  }

  .nytimes-logo{
    height:25px;
  }
  .right-nav{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 10px;
    padding: 0 0 0 2px;
  }

.nav-button{
  background-color: rgb(86, 123, 149);
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  margin-left: 5px;
  padding: 8px;
  font-weight:bold;
}
.heading{
  position:relative;
  top: 4rem;
  items-align: center;
}

.title-container{
  background-color: yellow;
  width: 100%;
}

.title-container-sub-container{
  width: 55%;
  background-color: steelblue;
  margin: auto;
}

.title{
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-size: 2rem;
  line-height: 3rem;
  font-style: italic;

  max-width: 600px;
  float:left;
}

.telescop-1-img-container{

    width: 72%;
    margin: auto;
}

.telescop-1-img{
  margin-top: 50px;
  width: 100%;
}

.telescop-1-img-container > p{
  width: 78%;
  color: #666;
  margin-left: 0;
  float: left;
}
.author{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 62%;
  align-items: center;
  margin:auto;
}
.by{
width: 80%;
}

.by > p{
  text-decoration: underline;
}

.by > p:hover{
  text-decoration: none;
}

.author-row{
 width: 80%;
}

.inline-block{
  display: inline-block;
}

.share-items{
  float: right;
  font-size: 15px;
}

.share-items > i{
  margin: 5px;
  padding: 6px;
  background-color: lightgrey;
  border-radius: 50%;
  cursor: pointer;
  border: solid lightgrey 1px;
}

.share-items > i:hover{
  background-color: white;
}

.first-artcle,
.second-article{
  width: 50%;
  margin: auto;
  font-size: 20px;
}
.blue-highlight{
  color: rgb(86, 123, 149);
  text-decoration:underline;
  font-size: x-large;
  font-weight: 500;
}